<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<link rel="stylesheet" href="/css/beta.css" type="text/css"> 
<title>Kontexa Alpha - In Progress</title> 
</head> 
<body> 
	<div> 
		<div id="beta"> 
			<img id="logo" src="/images/logo220.png" width="220" height="220" alt="Kontexa logo"> 
			<div id="form"> 
				<form method="post" action="/signup"> 
					<img src="/images/kontexa-alpha.png" width="220" height="32" alt="Kontexa alpha"> 
					<p> 
						Your inbox is being analyzed. We will email you at <b><%= @email %></b> as soon as it's ready!
					</p>
				</form> 
			</div> 
		</div> 
	</div> 
</body> 
</html>