<html>
  <body>
    <h3>Authorized email address</h3>
    <p><%= @email || ":(" %></p>
    <h3>Token</h3>
    <p><%= @access_token.token %></p>
    <h3>Secret</h3>
    <p><%= @access_token.secret %></p>

<%= @params.inspect %>